<configuration>
    <property>
        <name>mapreduce.framework.name</name>
        <value>classic</value>
    </property>
    <property>
      <name>mapred.job.tracker</name>
      <value>HOSTNAME:8021</value>
    </property>
</configuration>
